
    <div class="info">
      <br>
    <h4>Segwit P2SH(P2WPKH) address sign verify message tool</h4>
 
    <p>
      Most segwit wallets use a backwards compatible P2SH(P2WPKH) address i.e. native segwit address wrapped in a P2SH address. The issue is this generated P2SH address has no corresponding private key and therefore won't work in regular Bitcoin Message/Sign verify applications. 
      This tool will generate P2SH(P2WPKH), P2WPKH and legacy P2PKH addresses from a given WIF and sign a message using the private key.
      Using your now known P2WPKH or P2PKH address you can send it to a another party along with the signature who can use this tool to verify the signature and that your claimed P2SH(P2WPKH) derived from same private key as your P2WPKH or P2PKH address.
    </p>
    </div>
     <div class="sign">
    <h3>Sign</h3>
    <p class="disclaimer">
      DISCLAIMER: Do not trust this web app with your valuable WIFs!
    </p>
          <input   type="password" class="form-control" placeholder="enter wif"  [(ngModel)]="wif"  aria-describedby="basic-addon1">
           <input    class="form-control" placeholder="enter message"  [(ngModel)]="message"  aria-describedby="basic-addon1">
           
          
          <button   type="button" id="checkButton" class="btn btn-secondary" (click)="sign()">Sign</button>
          <br>
          <input    class="form-control" placeholder="signature"  [(ngModel)]="signature"  aria-describedby="basic-addon1">
          
          <div class="addresses">
          <label >Your P2PKH address: {{p2pkhAddress}}</label>
           
          <label >Your P2WPKH address: {{p2wpkhAddress}}</label>
           
           <label >Your P2SH(P2WPKH) address: {{p2sh_p2wpkhAddress}}</label>
         </div>
</div>
<div class="verify">
 <h3>Verify</h3>
   <input  type="test" class="form-control" placeholder="enter address"  [(ngModel)]="addressVerify"  aria-describedby="basic-addon1">

            <input  type="test" class="form-control" placeholder="enter message"  [(ngModel)]="messageVerify"  aria-describedby="basic-addon1">
           <input  type="test" class="form-control" placeholder="enter signature"  [(ngModel)]="signatureVerify"  aria-describedby="basic-addon1">
           
          
          <button   type="button" id="checkButton" class="btn btn-secondary" (click)="verify()">Verify</button>

          <br>
          <h4>{{resultVerify}}</h4>
           <div>Derived P2SH(P2WPKH) address: {{p2sh_p2wpkhAddressVerify}}</div>
           
    
    </div>