 .sign {
 margin-left: 10px;

 }
 .info {
 margin-left: 10px;

 }
  .verify {
 margin-left: 10px;
 margin-top: 40px;

 }
  .disclaimer {
    color: red;
  }

  .form-control{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    max-width: 1000px;
  }

  .addresses{

    margin-top: 10px;

  }
   .addresses label{
    display: block;
    margin-top: 10px;

  }